.search-wrapper {
	margin: 0 auto;
	width: 100%; /* Set this to 100% or any specific value */
	max-width: 600px; /* Set a max-width to limit the width of the element */
}

#avatar-name-search {
	margin-top: 2rem;
	margin-bottom: 2rem;
	padding: 1rem;
	width: 600px;
}
